server {
    listen ${PORT};
    listen [::]:${PORT};
    server_name _;

    location = /healthz {
        return 200 "ok";
    }

    location = / {
        return 308 https://apps.shopify.com/mergeship$is_args$args;
    }

    location / {
        return 308 https://mergeship.app$request_uri;
    }
}
